<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center align-items-center">
        <div class="card col-md-6 border-dark mt-4 mb-3">
            <div class="row">
                <div class="col-md-8 card-header">Company Details :</div>
                <div class="col-md-4 card-header d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="Action buttons">
                        <a class="btn btn-sm color-deep-sea-green text-white border" 
                           th:href="@{/companies}" 
                           title="Back to Companies List">
                            <i class="bi bi-arrow-left-circle"></i></a>
                        <a class="btn btn-sm color-deep-sea-green text-white border" 
                           th:href="@{/companies/{id}/edit(id=${company.id})}"
                           title="Edit Company">
                            <i class="bi bi-pencil-fill"></i></a>
                        <a class="btn btn-sm btn-danger text-white border" 
                           th:href="@{/companies/{id}/delete(id=${company.id})}"
                           onclick="return confirm('Are you sure you want to delete this company?')"
                           title="Delete Company">
                            <i class="bi bi-trash-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p><strong>Name : </strong><span th:text="${company.name}"></span></p>
                <p><strong>Email : </strong><span th:text="${company.email}"></span></p>
                <p><strong>Country : </strong><span th:text="${company.country}"></span></p>
                <p><strong>CEO : </strong><span th:text="${company.CEO}"></span></p>
                <p><strong>Foundation Date : </strong><span th:text="${company.foundationDate}"></span></p>
                <p><strong>Revenue : </strong><span th:text="${company.revenue}"></span></p>
                <p><strong>Sector : </strong>
                    <span th:if="${company.sector != null}"
                          th:text="${#strings.capitalize(company.sector.toString().replace('_',' '))}"></span>
                    <span th:if="${company.sector == null}">N/A</span>
                </p>
                <p><strong>Description : </strong><span th:text="${company.description}"></span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>